*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto , sans-serif; }

.main-container {
  display: grid;
  position: relative;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100vh repeat(3, 500px) auto 300px auto; }

.hero {
  grid-column: 1/-1;
  grid-row: 1/2; }

.transform-brand-img, .transform-brand-t-block {
  grid-row: 2/3; }

.transform-brand-t-block {
  grid-column: 1/3; }

.transform-brand-img {
  grid-column: 3/5; }

.stand-out-img, .stand-out-t-block {
  grid-row: 3/4; }

.stand-out-img {
  grid-column: 1/3; }

.stand-out-t-block {
  grid-column: 3/5; }

.graphic__design, .photography {
  grid-row: 4/5; }

.graphic__design {
  grid-column: 1/3; }

.photography {
  grid-column: 3/5; }

.testimonials {
  grid-column: 1/-1;
  grid-row: 5/6; }

.gallery {
  grid-column: 1/-1;
  grid-row: 6/7; }

.footer {
  grid-column: 1/-1;
  grid-row: 7/8; }

@media screen and (max-width: 375px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh repeat(4, minmax(100px, max-content)) repeat(2, 450px) auto 300px auto; }
  .hero {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .transform-brand-img {
    grid-column: 1/-1;
    grid-row: 2/3; }
  .transform-brand-t-block {
    grid-column: 1/-1;
    grid-row: 3/4; }
  .stand-out-img {
    grid-column: 1/-1;
    grid-row: 4/5; }
  .stand-out-t-block {
    grid-column: 1/-1;
    grid-row: 5/6; }
  .graphic__design {
    grid-column: 1/-1;
    grid-row: 6/7; }
  .photography {
    grid-column: 1/-1;
    grid-row: 7/8; }
  .testimonials {
    grid-column: 1/-1;
    grid-row: 8/9; }
  .gallery {
    grid-column: 1/-1;
    grid-row: 9/10; }
  .footer {
    grid-column: 1/-1;
    grid-row: 10/11; } }

@media screen and (min-width: 375px) and (max-width: 700px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh repeat(2, 330px min-content) repeat(2, 300px) auto 300px auto; }
  .hero {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .transform-brand-img {
    grid-column: 1/-1;
    grid-row: 2/3; }
  .transform-brand-t-block {
    grid-column: 1/-1;
    grid-row: 3/4; }
  .stand-out-img {
    grid-column: 1/-1;
    grid-row: 4/5; }
  .stand-out-t-block {
    grid-column: 1/-1;
    grid-row: 5/6; }
  .graphic__design {
    grid-column: 1/-1;
    grid-row: 6/7; }
  .photography {
    grid-column: 1/-1;
    grid-row: 7/8; }
  .testimonials {
    grid-column: 1/-1;
    grid-row: 8/9; }
  .gallery {
    grid-column: 1/-1;
    grid-row: 9/10; }
  .footer {
    grid-column: 1/-1;
    grid-row: 10/11; } }

@font-face {
  font-family: 'Fraunces Black';
  src: url("../fonts/Fraunces-black.ttf"); }

@font-face {
  font-family: 'Fraunces Bold';
  src: url("../fonts/Fraunces-Bold.ttf"); }

@font-face {
  font-family: 'Barlow SemiBold';
  src: url("../fonts/Barlow-SemiBold.ttf"); }

.no-style-type {
  list-style-type: none; }

.no-deco {
  text-decoration: none; }

.mb-10 {
  margin-bottom: 1rem; }

.mb-20 {
  margin-bottom: 2rem; }

.mt-10 {
  margin-top: 1rem; }

.mt-20 {
  margin-top: 2rem; }

.plr-20-p {
  padding-left: 20%;
  padding-right: 20%; }

.set-bg {
  background-repeat: no-repeat;
  background-size: cover; }

.uppercase {
  text-transform: uppercase; }

.hero {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center; }
  .hero__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    font-size: 1.8rem;
    color: white; }
    @media screen and (max-width: 375px) {
      .hero__navigation {
        padding: 2rem 1rem; } }
  .hero__nav-icon {
    display: none; }
    @media screen and (max-width: 375px), (min-width: 375px) and (max-width: 700px) {
      .hero__nav-icon {
        display: block; } }
  .hero__items {
    font-family: "Barlow SemiBold";
    display: flex; }
    @media screen and (max-width: 375px), (min-width: 375px) and (max-width: 700px) {
      .hero__items {
        position: fixed;
        background: white;
        top: 10%;
        z-index: 20;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        text-align: center;
        color: #818498;
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
        padding-bottom: 7.5%;
        clip-path: polygon(0 7.55%, 90% 7.55%, 100% 0, 100% 100%, 0 100%, 0 0);
        display: none;
        transition: all 0.2s linear; }
        .hero__items.mobile-view {
          display: flex; } }
  .hero__item {
    color: inherit;
    font-size: 0.8em;
    width: fit-content; }
    .hero__item:link, .hero__item:visited {
      display: block;
      padding: 1.3rem 2.5rem;
      border-radius: 2rem; }
      @media screen and (max-width: 375px) {
        .hero__item:link, .hero__item:visited {
          margin-bottom: 1rem; } }
      @media screen and (min-width: 375px) and (max-width: 700px) {
        .hero__item:link, .hero__item:visited {
          padding: 2rem 5rem; } }
    .hero__item:hover, .hero__item:active, .hero__item:focus-visible {
      background: rgba(255, 255, 255, 0.3); }
  .hero__item.active {
    background: white;
    color: #23303e;
    font-family: "Fraunces Bold";
    text-transform: uppercase; }
    .hero__item.active:hover, .hero__item.active:active, .hero__item.active:focus-visible {
      background: rgba(255, 255, 255, 0.3);
      color: white; }
    @media screen and (max-width: 375px), (min-width: 375px) and (max-width: 700px) {
      .hero__item.active {
        background: #fad400; }
        .hero__item.active:hover, .hero__item.active:active, .hero__item.active:focus-visible {
          color: #fad400; } }
  .hero__welcome-text {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Fraunces Bold";
    color: white;
    margin-top: 6rem;
    margin-bottom: 10rem;
    letter-spacing: 0.2em; }
    @media screen and (max-width: 375px) {
      .hero__welcome-text {
        font-size: 3rem;
        margin-bottom: 2rem; } }
  .hero__welcome-arrow {
    display: block;
    margin: 0 auto; }

.btn {
  outline: none;
  border: none;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  color: #23303e;
  font-family: "Fraunces Black"; }
  .btn__attributes {
    position: relative;
    z-index: 3; }
    .btn__attributes:hover + .btn-b {
      opacity: 1; }
  .btn-b {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    transform: scaleX(1.05) translateY(-0.2rem);
    z-index: 2;
    opacity: .7; }
  .btn-b-y {
    background: #fad400; }
  .btn-b-r {
    background: #fe7867; }

.attributes {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20%;
  padding-right: 20%; }
  @media screen and (max-width: 375px), (min-width: 375px) and (max-width: 700px) {
    .attributes {
      padding: 20% 10%; } }
  @media screen and (max-width: 375px) {
    .attributes {
      text-align: center; } }
  .attributes > * {
    display: block; }
  .attributes__heading {
    color: #23303e;
    font-family: "Fraunces Bold";
    font-size: 3.5rem; }
  .attributes__body {
    font-size: .8em;
    color: #5a636c;
    line-height: 2;
    font-family: "Barlow SemiBold"; }
  .attributes__btn-container {
    position: relative; }
    @media screen and (max-width: 375px) {
      .attributes__btn-container {
        left: 50%;
        transform: translateX(-50%); } }

.attributes-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #25564b; }
  @media screen and (min-width: 375px) and (max-width: 700px) {
    .attributes-center {
      color: white; } }
  .attributes-center__heading {
    margin-top: auto;
    font-family: "Fraunces Bold";
    letter-spacing: .05em; }
  .attributes-center__body {
    font-size: .75em;
    text-align: center;
    font-family: "Barlow SemiBold";
    line-height: 1.5;
    width: 45%;
    margin-bottom: 3rem; }
    @media screen and (max-width: 375px) {
      .attributes-center__body {
        width: 95%; } }

.stand-out-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.transform-brand-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.graphic__design {
  background-image: url("../images/mobile/image-graphic-design.jpg"); }
  @media screen and (min-width: 375px) {
    .graphic__design {
      background-image: url("../images/desktop/image-graphic-design.jpg"); } }
  @media screen and (min-width: 375px) and (max-width: 700px) {
    .graphic__design {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/desktop/image-graphic-design.jpg"); } }

.photography {
  background-image: url("../images/mobile/image-photography.jpg"); }
  @media screen and (min-width: 375px) {
    .photography {
      background-image: url("../images/desktop/image-photography.jpg"); } }
  @media screen and (min-width: 375px) and (max-width: 700px) {
    .photography {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/desktop/image-photography.jpg"); } }

.attribution {
  font-size: 1.2rem;
  font-family: "Barlow SemiBold";
  text-align: center;
  padding: 1rem;
  background: linear-gradient(to right, rgba(167, 171, 174, 0.2), rgba(167, 171, 174, 0.2)); }

.attribution a {
  color: #3e52a3; }

.t {
  font-size: 1.8rem;
  padding: 15rem 10%; }
  .t__heading {
    margin-bottom: 10rem;
    text-align: center;
    font-family: "Fraunces Bold";
    color: #a7abae;
    letter-spacing: 0.1em; }
  .t-display {
    width: 100%;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, 1fr); }
    @media screen and (max-width: 375px) {
      .t-display {
        grid-template-columns: 1fr; } }
    @media screen and (min-width: 375px) and (max-width: 700px) {
      .t-display {
        width: 60%;
        grid-template-columns: 1fr;
        margin: 0 auto; } }
    .t-display__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .t-display__block img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-bottom: 4rem; }
      .t-display__block--caption {
        margin-bottom: 4rem;
        font-size: 0.875em;
        color: #5a636c;
        font-family: "Barlow SemiBold";
        line-height: 1.5; }
      .t-display__block--name {
        margin-bottom: 0.5rem;
        font-family: "Fraunces Black";
        color: #23303e; }
      .t-display__block--position {
        color: #818498;
        font-size: 0.75em;
        font-family: "Barlow SemiBold"; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px; }
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .gallery__image source, .gallery__image img {
      width: 100%;
      height: 100%; }

@media (max-width: 375px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 150px; }
    .gallery__image:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2; }
    .gallery__image:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2; }
    .gallery__image:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/3; }
    .gallery__image:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2/3; } }

.footer {
  background: rgba(69, 140, 126, 0.5);
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #25564b; }
  .footer__logo {
    margin: 5rem 0 4rem 0; }
  .footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
    .footer ul li a {
      display: block;
      padding: 1rem 2rem;
      font-size: .8em;
      color: #458c7e; }
      .footer ul li a:hover {
        color: white; }
  .footer ul.icon-list .tester path {
    fill: red; }
  .footer ul.icon-list li {
    padding: 0 1rem; }
  .footer ul.icon-list .icon-list__icon {
    width: 2rem;
    height: 2rem; }
  .footer ul.icon-list .icon-list__icon:hover path {
    fill: white; }
