@font-face {
    font-family: 'Fraunces Black';
    src: url("../fonts/Fraunces-black.ttf");
}

@font-face {
    font-family: 'Fraunces Bold';
    src: url("../fonts/Fraunces-Bold.ttf");
}

@font-face {
    font-family: 'Barlow SemiBold';
    src: url("../fonts/Barlow-SemiBold.ttf");
} 